<a href="https://colab.research.google.com/github/nastynoice/test/blob/main/LDA_Q5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Q5) Apply LDA on the attached data set and find out the first appropriate direction or the first axis.
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn import decomposition
from sklearn import datasets

# load dataset into Pandas DataFrame
df = pd.read_csv("/content/Real estate.csv")

df = df.drop("No",1)
print(df.columns)
df.columns = ["X1", "X2", "X3", "X4", "X5", "X6", "target"]
df

Index(['X1 transaction date', 'X2 house age',
       'X3 distance to the nearest MRT station',
       'X4 number of convenience stores', 'X5 latitude', 'X6 longitude',
       'Y house price of unit area'],
      dtype='object')

           X1    X2          X3  X4        X5         X6  target
0    2012.917  32.0    84.87882  10  24.98298  121.54024    37.9
1    2012.917  19.5   306.59470   9  24.98034  121.53951    42.2
2    2013.583  13.3   561.98450   5  24.98746  121.54391    47.3
3    2013.500  13.3   561.98450   5  24.98746  121.54391    54.8
4    2012.833   5.0   390.56840   5  24.97937  121.54245    43.1
..        ...   ...         ...  ..       ...        ...     ...
409  2013.000  13.7  4082.01500   0  24.94155  121.50381    15.4
410  2012.667   5.6    90.45606   9  24.97433  121.54310    50.0
411  2013.250  18.8   390.96960   7  24.97923  121.53986    40.6
412  2013.000   8.1   104.81010   5  24.96674  121.54067    52.5
413  2013.500   6.5    90.45606   9  24.97433  121.54310    63.9

[414 rows x 7 columns]

In [2]:
X = df.iloc[:, 0:6].values
y = df.iloc[:, 6].values

In [3]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 0)

In [4]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [5]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis as LDA
lda = LDA(n_components = 2)
X_train = lda.fit_transform(X_train, y_train)
X_test = lda.transform(X_test)

ValueError: ignored